// Place all the styles related to the doses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#dose_description {
  width: 30%;
}
#dose_ingredient_id {
  width: 30%;
}

.title {
  margin-top: 20px;
}